div.iphone {
  @include box-sizing(border-box);
  background: url(/assets/iphone.svg) no-repeat;
  background-size: 412px 849px;
  width: 412px;
  height: 849px;
  padding: 0px 0px 0px 0px;

  video {
    background: #000;
    width: 375px;
    height: 812px;
    overflow: hidden;
  }

  @media #{$grater-small-media-query} {
    display: none;
  }
}
