<div class="grater grater-container">
  <div>
    <p>Use two photo to make Live Photo and show in device lock page.</p>
    <p>Show one Photo in normal and show another when force touch.</p>
    <p>Simply your gains, at a glance.</p>
    <p class="app-store"><%= app_store_button %></p>
    <p class="disclaimer">* Not all countries are available. Stock data from Yahoo!. See <a href="/support#exchanges">the list of supported exchanges</a> for specifics.</p>
  </div>
  <div>
    <div id="screenshots">
    <img alt="Shares Screenshot" src="/assets/screenshot01.png" width="375px" heigh="812px">
    <img alt="Shares Screenshot" src="/assets/screenshot02.png" width="375px" heigh="812px">
    <img alt="Shares Screenshot" src="/assets/screenshot03.png" width="375px" heigh="812px">
    <img alt="Shares Screenshot" src="/assets/screenshot04.png" width="375px" heigh="812px">
    </div>
  </div>
</div>

<% content_for :javascripts do %>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="/assets/home.js"></script>
<% end %>
